:root{
  --color-main: #fff;
  --color-points: hsl(229, 25%, 31%);
  --color-score: hsl(229, 64%, 46%);
  --color-border: hsl(217, 16%, 45%);

  --color-scissors: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --color-paper: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --color-rock: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  min-height: 100vh;
  min-width: 100vw;
  padding: 48px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  overflow: hidden;
}

header{
  border: solid 2px var(--color-border);
  max-width: 600px;
  border-radius: 5px;
  margin: 0 auto;
  padding: 12px 24px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1{
  color: var(--color-main);
}
.score{
  background:var(--color-main);
  padding: 12px 42px;
  border-radius: 5px;
}
.score span{
  color: var(--color-score);
}
.points{
  color: var(--color-points);
  display: block;
  font-size: 54px;
  line-height: 42px;
  text-align: center;
}
h1 span{
  display: block;
  line-height: 25px;
}
main{
  margin: 0 auto;
  max-width: 600px;
  padding: 160px 0;
  position: relative;
  min-height: 70vh;
}
.options{
  aspect-ratio: 313/278;
  background-image: url("./images/bg-triangle.svg");
  margin: 0 auto;
  background-size: cover;
  width: 50%;
  
}
.options .button{
  position: absolute;
  width: 50%;
  border: none;
  cursor: pointer;
}
.options .button--paper{
  left:0;
  top:0;
  transform:translate(-50%,-50%);

}
.options .button--scissors{
  right:0;
  top:0;
  transform:translate(50%,-50%);
  
}
.options .button--rock{
  bottom:0;
  left:50%;
  transform:translate(-50%, 50%);
  
}
.button__images-container{
  align-items: center;
  justify-content: center;
  background-color: var(--color-main);
  border-radius: 50%;
  display: flex;
  width: 80%;
  box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.15);
  height: 80%;
}
.button{
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  aspect-ratio: 1/1;
  box-shadow: inset 0px -8px 0px rgba(0, 0, 0, 0.25);
}
.button img{
  width: 50%;
}
.button--paper{
  background:linear-gradient(var(--color-paper));

}
.button--scissors{
  background:linear-gradient(var(--color-scissors));
}
.button--rock{
  background:linear-gradient(var(--color-rock));
}
.fight{
  color: var(--color-main);
  display: flex;
  transform: translate(200%,-50%);
  opacity: 0;
  width: 100%;
  align-items: center;
}
.fight.slide-left{
  opacity: 1;
  transform: translate(-50%,-50%);
}
.pick{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  transform: translate(0,0);
  transition: transform 0.3s;
}

.pick__title{
  display: block;
  padding-bottom: 36px;
  text-align: center;
  width: 100%;
  transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
  bottom: 100%;
  
}
.pick__placeholder{
  width: 50%;
  background: rgba(0, 0, 0, 0.25);
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.hidden{
  display: none;
}

section{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: transform 0.3s, opacity 0.3s;
}
.options.slide-left{
  transform: translate(-200%, -50%);
  opacity: 0;
}
.result__button{
  background: color(--color-main);
  border: none;
  padding: 8px 24px;
  color: hsl(349, 71%, 52%);
  
  border-radius: 3px;
}
.result__text{
  font-size: 32px;
  text-align: center;
  width: 100%;
  font-weight: 700;
}
.result{
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  flex-wrap: wrap;
  transform: scaleX(0) translate(-50%,-50%);
  transition: transform 0.3s;
}
.result.shown{
  transform: scaleX(1) translate(-50%,-50%);
}
.rules__containter.shown{
  
}
.pick--ai.moved{
  transform: translate(25%,0);
}
.pick--player.moved{
  transform: translate(-25%,0);
}
.pick__container{
  width: 75%;
}
.rules{
justify-content: right;
float: right;
border-radius: 5px;
padding: 8px 32px;
background: none;
color: #fff;
border: solid 0.5px #fff;
position: relative;
cursor: pointer;
}
.rules__Main{

  
}
.rulesheader{
display: flex;
justify-content: space-between;
width: 100%;
padding: 8px;
}
.rules_button{
  border: none;
  background: none;
  color: var(--color-border);
  font-size: x-large;
  cursor: pointer;
}
.rules_img{
  padding: 16px 32px;
}
.rules__containter{
  margin: auto;
  position: relative;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 5px;
  width: 100%;
  padding: 8px 16px;
  font-size: x-large;
  transition: transform 0.3s;
  
}

.r{
  padding: 30px;
}
.rule{
  display: block;
}
@media screen and (max-width: 480px) {
  .score{
    padding: 8px 12px;
  }
  
  .fight{
    flex-wrap:wrap;
  }
  .pick.moved,
  .pick,
  .result{
    position: relative;
    left: 0;
    right: 0;
    transform: translate(0,0);
    
  }
  .result{
    width: 100%;
    margin-top: 48px;
    transform: translate(0,0) scaleX(0);
  }

  .result.shown{
    transform: translate(0,0) scaleX(1);
  }
  .rules{
    align-content: center;
    left: -34%;
    cursor: pointer;
  }
  .r{
    padding: 30px;
  }
}